*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Montserrat";
}

body,html{
    background-color: #f4f4f4;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

nav{
    background-color: green;
    padding: auto 0;
    text-align: center;
    position: fixed;
    transition: 0.5s linear;
    width: 100%;
    z-index: 10;
}
nav .nav_logo{
    color: #fff;
    display: inline-block;
    padding: 20px;
    position: relative;
}


.nav_logo h1{
    font-size: 35px;
}

.nav_logo p{
    font-size: 17px;
    margin: -5px;
}

nav ul{
    list-style: none;
    
}

nav ul li , a {
    display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.3s linear all;
}


nav ul li a:hover{
    background-color: rgba(180, 252, 98, 0.336); 
     color: #fff; 
}

nav ul .signIn{
    background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3));
    color: #fff; 
}
nav ul .signIn:hover{
    background:#fff;
    color: #000; 
}

.banner{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.8),rgba(29, 209, 119, 0.3)),url(../amit-asthana-NpjM5cuI-JE-unsplash.jpg);
    height: 100vh;
    width: 100%;
    place-content: center;
    place-items: center;
    background-size: cover;
}

.banner_elems{
    padding: 30px 20px;
    color: #fff;
    width: 70%;
    text-shadow: 1px 1px 50px #000;
}
.banner_heading {
    font-size: 80px;
    margin: 15px 0;
}
.banner_para{
    font-size: 25px;
}

.columns{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    width: 30%;
    height: auto;
    margin: 10px;
    padding: 40px;
    background-color: green;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.35s linear;
}
.column p{
    font-size: 19px;
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
}

.column:hover{
    transform: translate(0, -7px);
    box-shadow:5px 5px 60px 3px green;
    color: green;
    background-color: #eee;
}

.column img{
    display: none;
    width: 30%;
    transition: 1s linear;
    margin: 0 0 30px 0;
    filter: brightness(0) saturate(100%) invert(39%) sepia(99%) saturate(1906%) hue-rotate(90deg) brightness(109%) contrast(110%);
}



.Pak_slider{
    width: 100%;

}

.slides {
    display: flex;
    flex-direction: row;
    animation:slider 30s infinite linear 0.5s;
    margin: 100px 0;

}
.slides .slide {
    position: relative;
    border: 10px solid #ddd;
    background-color: #ddd;
    padding: 30px 0;
    opacity: 95%;


}

.slides .slide:hover{
    opacity: 100%;
}

.slides .slide_elems{
    color: #fff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    background-color: green;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 100px #000;
    transition: 0.2s linear all;

}



.slide_txt{
    display: flex;
    flex-direction: column;
}
.slide_txt h1{
    margin-top: -70px;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 1px 1px 50px #000;
    text-transform: uppercase;
    letter-spacing: -3px;
}



.slides .slide p{
    font-size: 20px;
    margin-top: 20px;
    width: 85%;
}
.slide .slide_elems img{
    width: auto;
    height: 35vh;
    margin-right: -20%;
    border: 10px solid #fff;
    border-radius: 10px;
}


.slides .slide .slide_background{
    height: 70vh;
    margin: 0 30px;
    border-radius: 10px;
}

@keyframes slider{
    0%{
    transform: translateX(0);
}
    100%{
    transform: translateX(-320%);
}
    
}


.blogs{
    width: 100%;
    height: auto;
    margin-bottom: 200px;
}

.blog_elems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog_img{
    width: 95%;
    height: 70vh;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.blog_img h1{
    color: green;
    background-color: #fff;
    box-shadow:30px -25px 100px 8px #000000;
    font-size: 100px;
    position: absolute;
    bottom: -80px;
    padding: 0 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* text-shadow: 1px 1px 50px #000; */

}

.blog_txt{
    color: #a0a0a0;
    width: 80%;
    margin-top: 150px;
    font-size: 22px;
}

.blog_elem_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.blog_elem_links a{
    color: green;
    display: block;
    line-height: 0px;
    width: 30%;
    margin: 30px;
    text-align: center;
    text-transform: capitalize;
}


.blog_elem_links  a:hover::after{
    content: ' ?';
}

.blog_elem_links  a:hover{
 background-color: green;
color: #fff;
}



@keyframes slowleft{
    to{
        transform: translateX(0);
        opacity: 1;
    }
    from{
        transform: translateX(-300px);
        opacity: 0;
    }
    
}

.Web_font{
    margin: 30px 0 0 0;
    padding: 50px 0;
    background-color: #eee;

}

.Web_font h1{
    color: green;
    font-size: 100px;
    text-align: center;
    letter-spacing: -5px;
}

.Web_font p{
    width: 100%;
    font-size: 30px;
    color: #a0a0a0;
    text-align: center;
    margin: 30px 0;
    text-transform: capitalize;
    letter-spacing: -1px;

}

.footer{
    width: 100%;
    background-color: #ddd;
    height: auto;
    padding: 50px;
}

.footer_elems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
    margin: 30px 0;
    width: 100%;
    font-size: 20px;
}
.footer_elems h1{
    font-size: 60px;
    font-weight: 600;
    text-transform: capitalize;
}
.footer_elems p{
    font-size: 17px;
    color: #a0a0a0;
    text-align: center;
    margin: 5px 0 50px 0;
    width: 50%;
}
.aboutus{
    background-color: green;
    color: #ddd;
    width: 100%;
    height: 28vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutus p{
    color: #fff;
    text-align: center;
    font-size: 17px;
    margin-top:5px;
    width: 65%;
}
.aboutus img{
    width: 10%;
    margin: 10px 0;
}

.FAQ{
    width: 100%;

}

.FAQs .FAQ {
    background-color: green;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    padding: 20px 30px;
    font-size: 17px;
    margin: -20px 0;
    transition: 0.2s linear all;
}
.FAQs .FAQ:hover{
  transform: translate(0, -5px);

}
.FAQs .answer{
    font-size: 22px;
    width: 50%;
    color: green;
    padding: 30px;
}


.FAQs .FAQ::after{
    content: ' ?';
}

.FAQs .FAQ::before{
    content: 'Que : ';
}



.FAQs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.for_xy_center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.sm_cont{
    background-color: green;
    color: #eee;
    height: auto;
    place-items: center;
    place-content: center;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 20px 0;
}
.sm_cont form{
    color: #000;
    padding: 30px;
}

form input{
    padding: 10px 20px;
    background-color: #eee;
    color: #a0a0a0;
    border-style: none;
    color: #000;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
    font-size: 17px;
}

form input::placeholder{
    color:#a0a0a0
}

form label{
    color: #fff;
    margin: 0 5px;
    
}
form button{
    padding: 15px 20px;
    background-color: #fff;
    margin: 10px 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #a0a0a0;
}

.comments{
    width: 100%;
}

.comments .comment{
    background-color: #eee;
    height: auto;
    padding: 30px 50px;
    transition: 0.2s linear;
    margin: 0 5px;
    border-radius: 10px;

}
.comment_txt h1{
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.comment_txt p{
    color: #664f4f;
    font-size: 17px;
    margin: 10px 0 0 0;
}

.comment_slider{
    display: flex;
    flex-direction: row;
    animation: comment_slider 50s infinite linear 0.5s ;

}
.comment i{
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
    padding: 5px 20px;
    border-radius: 100px;
    background-color: #fff;
    color: green;
    box-shadow: 1px 1px 1px 15px #f1efef;
}


.comments .comment:hover{
    z-index: 1;
    background-color: #ddd;
}

@keyframes comment_slider{
    0%{
    transform: translate(-100%);
}
    100%{
    transform: translate(6%);
}

}

.dynamic{
    font-weight: 600;
    color: #a0a0a0;
    text-shadow: 1px 1px 50px #fff;
}
